# Core Django & Deployment
Django>=5.0.0
gunicorn
whitenoise>=6.0.0

# Database
psycopg2-binary
dj-database-url

# Rest Framework & Auth
djangorestframework
djangorestframework-simplejwt
django-cors-headers
bcrypt==3.2.2
PyJWT==2.7.0

# Utilities
python-dotenv
requests==2.31.0
Pillow==10.2.0
